@import './variables/color';
*{
    transition-duration: 0.2s;
    &:hover{
    transition-duration: 0.1s;
    }
}
body{
    margin: 0;
    padding: 0;
    color: $white-8;
    background-color: $dark;
    header{
        display: flex;
        padding: 0px 5vw;
        background-color: $dark;
        .logo-wrap{
            width: 50%;
            color: $yellow;
            .logo{
                font-weight: 400;
            }
            .logo-web{
                font-weight: 600;
            }
        }
        .header-links{
            cursor: pointer;
            float: right;
            width: 50%;
            .header-link{
                position: relative;
                top: 50%;
                float: right;
                padding: 10px 20px;
                transform: translateY(-50%);
                font-size: 1em;
                font-weight: 300;
            }
            .header-link-highlight{
                border: 1px solid $yellow;
                border-radius: 50px;
                transition-duration: 0.4s;
                &:hover{
                    background-color: $yellow;
                    color: $dark;
                    transition-duration: 0.1s;
                }
            }
            .header-link-extra{
                color: $white-6;
                &:hover{
                    border-bottom: 2px solid $yellow;
                    margin: 0px 20px;
                    padding: 6px 0;
                }
            }
        }
    }
    .current-page{
        min-height: 100vh;
        padding: 10px 5vw;
    }
    footer{
        display: flex;
        padding: 10px 5vw;
        background-color: $dark;
        .footer-copyright{
            width: 50%;
            color: $white-6;
        }
        .footer-links{
            cursor: pointer;
            float: right;
            width: 50%;
            .header-link{
                margin-left: 20px;
                float: right;
                color: $white-6;
                font-size: 1em;
                font-weight: 300;
            }
        }
    }
}