@import './variables/color';
body{
    margin: 0;
    padding: 0;
    color: $white-8;
    background-color: $dark;
    header{
        background-color: $dark;
    }
    .current-page{
        min-height: 100vh;
        padding: 10px 5vw;
    }
    footer{
        background-color: $dark;
    }
}